identification/src/main/resource/json/
.DS_Store
**/.idea
**/target/
geo_location_norm/geonames-index/
visualization/maps/
**/test_prediction_result.txt
**/test_site_result.json
**/test_time_result.json
**/ascii_abstracts_v3.txt
**/processed_data_pd.txt
**/processed_data_v2.txt
**/result.txt
**/top100_weight_NBSVM.txt
**/weight_result.txt
**/prediction_result.txt
**/processed_data.txt
**/processed_data_woUNRELATED.txt
**/stim_text.txt
**/top100_weight_4class.txt
**/top100_weight.txt
